<mat-sidenav-container class="h-screen">
    <!-- Sidebar -->
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      (openedChange)="isSidebarOpen = $event" 
      class="sidenav"
    >
      <app-student-sidebar
      [data]="data"
      [closeSidebarOnLinkClick]="closeSidebarOnLinkClick.bind(this, sidenav)"
       ></app-student-sidebar>
      </mat-sidenav>
  
    <!-- Main Content -->
    <div class="flex flex-col h-screen flex-grow bg-blend-multiply">
      <!-- Listen for toggle event and toggle sidenav -->
      <app-student-navbar 
        (toggleSidenav)="toggleSidebar(sidenav)"
        [isSidebarOpen]="isSidebarOpen"
        [data]="data"
      ></app-student-navbar>
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
  