<mat-sidenav-container class="h-screen flex">
    <!-- Sidebar -->
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      (openedChange)="isSidebarOpen = $event" 
      class="sidenav"
    >
      <app-student-sidebar></app-student-sidebar>
    </mat-sidenav>
  
    <!-- Main Content -->
    <div class="flex flex-col h-screen">
      <!-- Listen for toggle event and toggle sidenav -->
      <app-student-navbar 
        (toggleSidenav)="toggleSidebar(sidenav)"
        [isSidebarOpen]="isSidebarOpen"
      ></app-student-navbar>
      <div class="flex flex-col px-36  flex-grow ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-container>
  