<div class="flex justify-center h-screen items-center">
  <div class="login-container bg-white w-[320px] h-[500px] flex flex-col items-center shadow-lg rounded-lg transition-all duration-300 ease-in-out">
    <div class="flex justify-center items-center mt-6">
      <mat-icon class="text-2xl text-[#33363F] font-semibold">person</mat-icon>
      <h4 class="text-blue-500 font-bold ml-2">College Login</h4>
    </div>

    <!-- <div class="relative flex items-center text-blue-600 pt-5">
      <mat-icon (click)="togglePopup()" class="cursor-pointer hover:text-blue-700 transition-colors duration-300">error</mat-icon>
      <div *ngIf="showPopup"
        class="absolute top-12 -right-24 bg-white md:bg-inherit md:left-60 w-max border border-black rounded-xl shadow-md p-4 z-30">
        <h4 class="font-semibold mb-2">Credentials Information</h4>
        <div class="text-sm">
          <p class="font-semibold italic">Admin:</p>
          <p>Email: admin&#64;test.com</p>
          <p>Password: admin&#64;123</p>
          <hr class="my-2" />
          <p class="font-semibold italic">Student:</p>
          <p>Email: student&#64;test.com</p>
          <p>Password: student&#64;23</p>
          <hr class="my-2" />
          <p class="font-semibold italic">Company:</p>
          <p>Email: company&#64;test.com</p>
          <p>Password: company&#64;123</p>
        </div>
      </div>
    </div> -->

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-center w-full px-4 mt-12">
   <!-- Email Field -->
<div class="w-full mt-4">
  <label for="email" class="block text-gray-700 text-sm font-semibold">Email</label>
  <div
    class="border border-gray-300 rounded  px-3 py-2  flex items-center focus-within:border-blue-500"
    [ngClass]="{'border-red-600': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}"
  >
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="Enter email"
      class="w-full focus:outline-none"
    />
  </div>
  <p *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-600 text-xs mt-1">
    Email is required.
  </p>
</div>

   <!-- Password Field -->
<div class="w-full mt-2">
  <label for="password" class="block text-gray-700 text-sm font-semibold">Password</label>
  <div
    class="relative border border-gray-300 rounded px-3 py-2 flex items-center focus-within:border-blue-500"
    [ngClass]="{'border-red-600': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}"
  >
    <input
      [type]="showPassword ? 'text' : 'password'"
      id="password"
      formControlName="password"
      placeholder="Enter password"
      class="w-full focus:outline-none"
    />
    <button
      type="button"
      class="absolute right-3 top-2 text-blue-500"
      (click)="togglePasswordVisibility()"
    >
      <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </div>
  <p *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-600 text-xs mt-1">
    Password is required.
  </p>
</div>


      <button mat-stroked-button color="primary" type="submit" class="mt-3" [disabled]="loginForm.invalid">
        <ng-container *ngIf="isLoading; else loginText">
          <svg
            class="animate-spin h-5 w-5 text-blue-400"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291l-2.938 1.7A9.953 9.953 0 012 12H0c0 3.042 1.135 5.824 3 7.938l3-1.647z"
            ></path>
          </svg>
        </ng-container>
        <ng-template #loginText>Login</ng-template>
      </button>

      <p class="mx-auto mt-8 text-gray-500">
        For Company!
        <a routerLink="/company/login" class="text-blue-500 font-bold hover:text-blue-600 ml-1 transition-colors duration-300">Login</a>
      </p>
      <p class="mx-auto text-blue-700 font-bold">
        <a routerLink="/student/register/self" class="hover:text-blue-600 transition-colors duration-300">Register!</a>
      </p>

      <div class="mt-5">
        <p *ngIf="errorMessage" class="text-red-600 bg-gray-100 text-xs p-3 rounded-lg">{{
          errorMessage }}</p>
      </div>
    </form>
  </div>
</div>

