<div class="fixed z-50 flex items-center justify-between px-4 py-2 bg-[#14498f] w-full shadow-md">
  <!-- Left Logo -->
  <div class="flex items-center gap-2">
    <button class="lg:hidden md:hidden" (click)="toggleSidenav.emit()">
      <mat-icon>{{ isSidebarOpen ? 'menu' : 'menu' }}</mat-icon>
    </button>
    <img src="assets/images/placement-cell-logo.svg" alt="Logo" class="h-8 w-8 rounded-full">
    <span class="handwriting-font text-lg font-bold">Placy</span>
  </div>

  <!-- Center Navigation -->
  <div class="hidden lg:flex md:flex items-center gap-6">
    <ul class="flex gap-4 text-sm font-mono font-medium">
      <li>
        <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a routerLink="profile" routerLinkActive="active">Profile</a>
      </li>
    </ul>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="job" routerLinkActive="active">Job List</button>
      <button mat-menu-item>Company List</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="flex items-center gap-1">
      <span>Company</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>

  <!-- Right User Info -->
  <div class="flex items-center gap-4">
    <div class="flex items-center">
      <div *ngIf="userData?.avatar; else defaultAvatar">
        <img  
          [src]="userData?.avatar"
          class="w-10 h-10 rounded-full cursor-pointer"
          alt="User Avatar"
        />
      </div>
      <ng-template #defaultAvatar>
        <img src="assets/images/user-avatar.svg" alt="Default Avatar" class="w-10 h-10 rounded-full">
      </ng-template>
    </div>
    <div class="text-sm">
      <h3>Welcome, <span class="text-blue-500 font-bold">{{ userData?.fullName }}</span></h3>
      <p class="text-xs text-gray-500 -mt-1">Have a nice day</p>
    </div>
   
  </div>
</div>
