@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.handwriting-font {
  font-family: 'Pacifico', cursive;
  color: #4caf50;
}

.active {
    color: #4CAF50;
    font-weight: bold;
  }
  .navbar {
    box-shadow: 0 4px 6px rgba(116, 105, 105, 0.1);
  }
  .handwriting-font {
    font-family: 'Pacifico', cursive;
  }
  