<div class="h-full flex flex-col justify-between items-center py-4">
    <div>
        <!-- sidebar content -->
         <ul>
            <li><a routerLink="dashboard" >Dashboard</a></li>
            <li><a >Active Company</a></li>
            <li><a >Active Jobs</a></li>
         </ul>
    </div>
    <div>
        <!-- userprfile -->
         <div class="flex items-center">
            <img src="" alt="img" class="h-8 w-8 mr-2 rounded-full border">
          <p class="text-xs"> md Ziaur</p>
         </div>
    </div>
</div>
 