<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="space-y-4 max-w-[380px] mx-auto">
  <table class="w-full">
    <tbody>
      <tr>
        <td class="font-semibold text-sm p-1 whitespace-nowrap">Full Name:</td>
        <td class="p-1">
          <input id="fullName" type="text" formControlName="fullName" class="formInput" />
          <small *ngIf="updateForm.get('fullName')?.invalid && updateForm.get('fullName')?.touched" class="text-red-500">
            Full Name is required.
          </small>
        </td>
      </tr>

      <tr>
        <td class="font-semibold text-sm p-1 whitespace-nowrap">Branch:</td>
        <td class="p-1">
          <input id="branch" type="text" formControlName="branch" class="formInput" />
        </td>
      </tr>

      <tr>
        <td class="font-semibold text-sm p-1 whitespace-nowrap">Class X %:</td>
        <td class="p-1">
          <input id="result_10" type="text" formControlName="result_10" class="formInput" />
        </td>
      </tr>

      <tr>
        <td class="font-semibold text-sm p-1 whitespace-nowrap">Class XII % :</td>
        <td class="p-1">
          <input id="result_12" type="text" formControlName="result_12" class="formInput" />
        </td>
      </tr>

      <tr>
        <td class="font-semibold text-sm p-1 whitespace-nowrap">UG Result:</td>
        <td class="p-1">
          <input id="college_cgpa" type="text" formControlName="college_cgpa" class="formInput" />
        </td>
      </tr>

      <tr>
        <td class="font-semibold text-sm p-1 whitespace-nowrap">Mobile:</td>
        <td class="p-1">
          <input id="mobile" type="text" formControlName="mobile" class="formInput" />
          <small *ngIf="updateForm.get('mobile')?.invalid && updateForm.get('mobile')?.touched" class="text-red-500">
            Enter a valid 10-digit mobile number.
          </small>
        </td>
      </tr>

      <tr>
        <td class="font-semibold text-sm p-2 whitespace-nowrap">Address:</td>
        <td class="">
          <textarea id="address" formControlName="address" class="textarea text-xs px-2 py-1 w-full border bg-[#739af5] rounded-md"></textarea>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="flex justify-end mt-4">
    <button type="submit" class="btn btn-primary mr-2" [disabled]="isSubmitting || updateForm.invalid">
      Update
    </button>
    <button (click)="cancelEdit.emit()" class="btn btn-secondary">
      Cancel
    </button>
  </div>
</form>
